.auth-button {
  background: linear-gradient(135deg, #06f 0%, #38f 100%);
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top: 8px;
  outline: none;
}

.auth-button:hover:not(:disabled) {
  background: linear-gradient(135deg, #05d 0%, #27d 100%);
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgb(0 102 255 / 30%);
}

.auth-button :disabled {
  opacity: 0.7;
  cursor: not-allowed;
  transform: none;
}
